<!-- BANNER SECTION -->
<div class="banner">
  <div class="width-container margin">

    <div class="banner-box">
      <div class="width-row">
        <div class="banner-content">
          <h1 class="heading-h1">{{ section.settings.banner_heading }}</h1>
          <p class="banner-p">{{ section.settings.Paragraph_text }}</p>
          <button class="banner-button">
            <a href="{{section.settings.button_link}}" class="button-a">{{ section.settings.button_text }}</a>
          </button>
          <div class="button-arrow">
            <a href="#" class="Button-arrow">
              <i class="fa-solid fa-arrow-down arrow"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% if section.settings.banner_img != blank %}<img
      src="{{ section.settings.banner_img |  img_url: 'master'}}"
      class="banner-img"
      alt="">
  {% endif %}
  {% if section.settings.banner_img_mobile != blank %}<img
      src="{{ section.settings.banner_img_mobile |  img_url: 'master'}}"
      class="banner-img banner-img-mobile"
      alt="">{% endif %}
</div>

{% schema %}
  {
    "name": "custom banner",
    "settings": [

      {
        "type": "image_picker",
        "id": "banner_img",
        "label": "Select Banner img"
      },
      {
        "type": "richtext",
        "id": "banner_heading",
        "label": "Add main heading"
      },
      {
        "type": "text",
        "id": "Paragraph_text",
        "label": "Add Content"
      },
      {
        "type": "text",
        "id": "button_text",
        "label": "Add button text"
      }, {
        "type": "color",
        "id": "button_background",
        "label": "Button backgroud color"
      }, {
        "type": "url",
        "id": "button_link",
        "label": "Add button link"
      }

    ],
    "presets": [
      {
        "name": "custom-banner"
      }
    ]
  }
{% endschema %}

<style>
  /* BANNER SECTION  */
  .banner-img-mobile {
    display: none;
  }
  .width-container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
  }
  .banner {
    background: #060608;
    max-width: 100%;
    height: 100vh;
    position: relative;
    z-index: 1;
    overflow: hidden;
  }
  .banner::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(90deg, #354856 0%, rgba(82, 82, 110, 0) 72.16%);
  }

  .banner .banner-box {
    z-index: 9;
  }
  .banner .width-66 {
    width: 66%;
  }
  .banner .banner-box .width-row {
    display: flex;
    align-items: center;
    justify-content: left;
  }
  .banner .banner-box .banner-content {
    width: 66%;
    padding-top: 100px;
    padding-bottom: 100px;
    z-index: 999;
  }
  .banner .banner-box .banner-content .heading-h1 {
    font-size: 110px;
    font-family: 'Vindea';
    font-weight: 400;
    color: #282828;

  }
  .banner .banner-box .banner-content .banner-png {
    max-width: 90px;
    max-height: 90px;
  }
  .banner .banner-box .banner-content .banner-p {
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    font-family: "Montserrat"
    , sans-serif;
    width: 60%;
    color: #777777;
    margin: 40px 0;
  }
  .banner .banner-box .banner-content .banner-button {
    font-size: 20px;
    font-family: "Montserrat"
    , sans-serif;
    background-color: #D8D1C9;
    padding: 10px 15px;
    border: none;
    margin-bottom: 30px;
    margin-top: 40px;
  }
  .banner .banner-box .banner-content .button-a {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    font-family: "Montserrat"
    , sans-serif;
    font-weight: 500px;
  }


  .banner .banner-img {
    max-width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    object-position: right;
    z-index: -1;
    top: 0;
    right: -5%;
  }

  @media (max-width: 1024px) {
    .width-container {
      padding: 0 30px;
    }
    .banner .banner-img {
      right: -25%;
    }
  }
  @media (max-width: 852px) {

    .banner-content {
      padding-bottom: 200px !important;
    }

  }

  @media (max-width: 768px) {
    .banner .banner-img,
    .banner-png {
      display: none;
    }
    .banner .banner-img.banner-img-mobile {
      display: block;
      right: 0;
      height: auto;
    }
    .heading-h1 {
      line-height: 1;
    }
    .banner .banner-box .banner-content .banner-p {
      line-height: 2;
    }
    .banner .banner-box .banner-content {
      padding-top: 50px;
    }
    .banner {
      background-color: #f9f9f9 !important;
      background-image: unset;
    }
    .banner .banner-box .banner-content .heading-h1 {
      font-size: 70px;
    }
    .banner .banner-box .banner-content .banner-png {
      max-width: 60px;
    }
    .banner .banner-box .banner-content .banner-p {
      font-size: 18px;
      margin: 20px 0;
    }
    .banner .banner-box .banner-content .banner-button {
      font-size: 18px;
      padding: 5px 10px;
      margin-top: 20px;
    }
    .banner .banner-box .banner-content .button-a {
      font-size: 16px;
    }
    .banner .banner-box .banner-content .button-arrow {
      width: 35px;
      height: 60px;
      line-height: 60px;
      margin-top: 20px;
    }
    .banner .banner-box .banner-content .button-arrow .arrow {
      font-size: 12px;
      border: 2px solid #ECE9EB;
      padding: 10px 5px;
    }
  }

  @media (max-width: 660px) {
    .banner .banner-box .banner-content .heading-h1 {
      font-size: 60px
    }
  }

  @media (max-width: 576px) {
    .banner .banner-box .banner-content .heading-h1 {
      font-size: 50px;
      width: 66%;
    }
    .banner .banner-box .banner-content .banner-p {
      font-size: 14px;
    }
    .banner .banner-box .banner-content .button-arrow {
      display: inline-block;
      margin-left: 20px;
    }
    .banner .banner-box .banner-content {
      width: 100%;
    }
  }


  /*
   @media (max-width: 409px) { 
   .banner-content { 
   padding-bottom: 250px; 
   } 
   }
*/

  @media (max-width: 400px) {
    .banner .banner-box .banner-content .heading-h1 {
      font-size: 30px;
    }
    .banner .banner-box .banner-content .banner-p {
      font-size: 12px;
    }
  }
  @media (min-width: 320px) and (max-width: 409px) {
    .banner-content {
      padding-bottom: 250px !important;
    }
  }

  /* edit by 017 */

  @media (max-width: 385px) {
    .banner-content {
      padding-bottom: 270px;
    }
  }

  @media (max-width: 321px) {
    .banner-content {
      padding-bottom: 255px;
    }
  }


</style>