<div class="Collection-grid-section " style="background-color: {{section.settings.Bg_color}};">
  <div class="container">
    <div class=" Collection-cls">
      {%- for block in section.blocks -%}
        <div class="Category_box ">
          {% if block.settings.category_img != blank %}
            <div class="category_img_box">
              <img src="{{block.settings.category_img | img_url:'master'}}" alt="" class="category-img">
            </div>
          {% endif %}
          <div class="category_content_box">
            <h6 class="category_h6">{{ block.settings.sub_text }}</h6>
            <h5 class="category_h5">{{ block.settings.category_name }}</h5>
            {% if block.settings.category_btns != blank %}
              <a type="button" href="{{block.settings.category_url}}" class="category_btn">
                {{- block.settings.category_btns -}}
              </a>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="news__arrows"></div>
  </div>
</div>

{% schema %}
{
  "name": "collection slider section",
  "settings": [
    {
      "type": "color",
      "id": "Bg_color",
      "label": "Background color"
    }
  ],
  "blocks": [
    {
      "name": "Block",
      "type": "text",
      "settings": [
        {
          "type": "image_picker",
          "id": "category_img",
          "label": " Category img"
        },
        {
          "type": "text",
          "id": "sub_text",
          "label": " Category up text"
        },
        {
          "type": "text",
          "id": "category_name",
          "label": " Category text"
        },
        {
          "type": "text",
          "id": "category_btns",
          "label": " Category button text"
        },
        {
          "type": "url",
          "id": "category_url",
          "label": " Category button url"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "collection slider section"
    }
  ]
}
{% endschema %}

<style>
  .Collection-grid-section {
    padding-top: 60px;
    padding-bottom: 80px;
    /* margin-top: -165px; */
    position: relative;
  }
  .Collection-grid-section .Collection-cls {
    margin-top: -165px !important;
    position: absolute;
  }

  .Collection-grid-section {
    max-width: 1400px;
    width: 100%;
    margin: auto;
    padding: 55px 20px;
  }

  .Category_box {
    background-color: #ededed;
    margin: 10px;
    display: flex !important;
    flex-wrap: wrap;
    border-radius: 8px;

  }
  .Category_box .category_img_box{
    width: 100%;
  }

  .category_content_box {
    padding: 15px 20px;
    width: 100%;
  }

  .category_h6 {
    font-family: 'Montserrat Alternates' !important;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.17em;
    color: #000;
    margin-top: 30px;
  }

  .category_h5 {
    font-family: 'Montserrat Alternates' !important;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    color: #000;
    min-height: 50px;
  }

  .category_btn {
    border-radius: 100px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    background-color: #354856;
    color: #fff;
    margin-top: 10px;
  }
 @media (max-width:599px) {
    .Collection-grid-section .news__arrows {
    left: 44% !important;
    right: 50% !important ;
}
 }
  
  .Collection-grid-section .slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    margin: 0 20px;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
  }

  .Collection-grid-section .slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
  }

  .Collection-grid-section .slick-list:focus {
    outline: none;
  }

  .Collection-grid-section .slick-list.dragging {
    cursor: pointer;
    cursor: hand;
  }

  .Collection-grid-section .slick-slider .slick-track,
  .Collection-grid-section .slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  .Collection-grid-section .slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
  }

  .Collection-grid-section .slick-track:before,
  .Collection-grid-section .slick-track:after {
    content: '';
    display: table;
  }

  .Collection-grid-section .slick-track:after {
    clear: both;
  }

  .Collection-grid-section .slick-loading .slick-track {
    visibility: hidden;
  }

  .Collection-grid-section .slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    display: flex;
  }

  [dir='rtl'] .Collection-grid-section .slick-slide {
    float: right;
  }

  .Collection-grid-section .slick-slide img {
    display: block;
    width: 100%;
  }

  .Collection-grid-section .slick-slide.slick-loading img {
    display: none;
  }

  .Collection-grid-section .slick-slide.dragging img {
    pointer-events: none;
  }

  .Collection-grid-section .slick-initialized .slick-slide {
    display: block;
  }

  .Collection-grid-section .slick-loading .slick-slide {
    visibility: hidden;
  }

  .Collection-grid-section .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
  }

  .Collection-grid-section .slick-arrow.slick-hidden {
    display: none;
  }

  /*================ Slick Slider Theme ================*/
  .Collection-grid-section .slick-loading .slick-list {
    background: #fff var(--slick-img-url) center center no-repeat;
  }

  .Collection-grid-section .news__arrows {
    width: 50px;
    margin: 0 auto;
    position: absolute;
    left: 47%;
    right: 47%;
    top: 96%;
  }
  .Collection-grid-section .slick-next {
    width: 40px;
    height: 40px;
    background-color: #d9d9d9;
    text-align: center;
    border-radius: 100% !important;
  }
  .Collection-grid-section .slick-prev {
    width: 40px;
    height: 40px;
    background-color: #d9d9d9;
    text-align: center;
    border-radius: 100% !important;
  }

  .Collection-grid-section .slick-next:before {
    color: #000 !important;
  }
  .Collection-grid-section .slick-prev:before {
    color: #000 !important;
  }
  [dir='rtl'] .Collection-grid-section .slick-next {
    left: -25px;
    right: auto;
  }

  .Collection-grid-section .slick-next:before {
    content: '\276F';
    font-weight: 600;
    line-height: 0.5;
  }

  [dir='rtl'] .Collection-grid-section .slick-next:before {
    content: '\276E';
  }
  .Collection-grid-section .slick-prev:before {
    content: '\276E';
    font-weight: 600;
    line-height: 0.5;
  }

  [dir='rtl'] .Collection-grid-section .slick-prev:before {
    content: '\276F';
  }
</style>

<script>
  $('.Collection-cls').slick({
    infinite: true,
    loop: true,
    // arrows: true,
    slidesToShow: 4,
    slidesToScroll: 1,
    appendArrows: $('.news__arrows'),
    prevArrow: "<button type='button' class='slick-prev pull-left arrowidth'>&#8592;</button>",
    nextArrow: "<button type='button' class='slick-next pull-right arrowidth'>&#8592;</button>",
    responsive: [
      {
        breakpoint: 1025,
        settings: {
          slidesToShow: 3,
          slidesToScroll: 1,
        },
      },
      {
        breakpoint: 800,
        settings: {
          slidesToShow: 2,
          slidesToScroll: 1,
        },
      },
      {
        breakpoint: 600,
        settings: {
          slidesToShow: 1,
          slidesToScroll: 1,
        },
      },
    ],
  });
</script>
