<div class="email_section">
  <div class="email_main_box">
    <div class="email_content">
      <h1 class="email_h1">{{ section.settings.email_h1 }}</h1>
      <p class="email_p">{{ section.settings.email_p }}</p>
      {%- render 'newsletter',class:'in_flex',btn_icon:"false",newl_des:4,sid:{{ section.id }} -%}
    </div>
    <div class="email_img_box">
      {% if section.settings.email_img != blank %}
      <img src="{{section.settings.email_img | img_url:'master'}}" alt="" class="e-img">
      <img src="{{section.settings.mobileimg | img_url:'master'}}" alt="" class="e-img-mobile">
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "email section",
  "settings": [
    {
      "type": "image_picker",
      "id": "email_img",
      "label": "Desktop image"
    },
    {
      "type": "image_picker",
      "id": "mobileimg",
      "label": "Mobile image"
    },
    {
      "type": "text",
      "id": "email_h1",
      "label": "img"
    },
    {
      "type": "text",
      "id": "email_p",
      "label": "img"
    },
    {
      "type": "text",
      "id": "Btn_text",
      "label": "Button text"
    }
  ],
  "presets": [
    {
      "name": "email section",
      "settings": {}
    }
  ]
}
{% endschema %}
