<div class="hip_hop_main_box" style="background-color: {{section.settings.bg_color}};">
  <div class="container">
    {%- render 'hip_hop_title', url: {{section.settings.hip_collection_url}} -%}
    <div class="swiper hipslider">
      <div class="swiper-wrapper">
        {%- for block in section.blocks -%}
          <div class="swiper-slide hip-hop-box">
            {% if block.settings.bg_img != blank %}
              <div class="hip-hop-img">
                <img src="{{block.settings.bg_img | img_url:'master'}}" class="h_img" alt="">
                <div class="hip_hop_name">
                  <a href="{{block.settings.collection_url}}" class="hip_p">{{ block.settings.collection_text }} </a>
                </div>
              </div>
              {% endif %}
          </div>
        {% endfor %}
       
      </div>
        <!-- Arrows should be outside the swiper-wrapper -->
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Hip hop collection",
  "settings": [
    {
        "type": "color",
        "id": "bg_color",
        "label": "Section bg color",
        "default": "#ffffff"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Collection Grid"
    },
    {
      "type": "textarea",
      "id": "sub_title",
      "label": "Sub Text"
    },
    {
      "type": "select",
      "id": "sub_font",
      "default": "2",
      "options": [
        {
          "value": "1",
          "label": "Body font"
        },
        {
          "value": "2",
          "label": "Sub title font"
        }
      ],
      "label": "Sub Text use font:"
    },
    {
      "type": "text",
      "id": "btn_title",
      "label": "See All Title",
      "info": "only working with design title 10",
      "default": "See all products"
    },
    {
      "type": "url",
      "id": "hip_collection_url",
      "label": "Button url"
    },
    {
      "type": "select",
      "id": "style_title",
      "options": [
        {
          "value": "title_1",
          "label": "Design 1"
        },
        {
          "value": "title_2",
          "label": "Design 2"
        },
        {
          "value": "title_3",
          "label": "Design 3"
        },
        {
          "value": "title_4",
          "label": "Design 4"
        },
        {
          "value": "title_5 lazyload",
          "label": "Design 5"
        },
        {
          "value": "title_6",
          "label": "Design 6"
        },
        {
          "value": "title_7 +la",
          "label": "Design 7 (with line-awesome)"
        },
        {
          "value": "title_8",
          "label": "Design 8"
        },
        {
          "value": "title_9",
          "label": "Design 9"
        },
        {
          "value": "title_10",
          "label": "Design 10"
        },
        {
          "value": "title_11",
          "label": "Design 11"
        },
        {
          "value": "title_12",
          "label": "Design 12"
        },
        {
          "value": "title_13",
          "label": "Design 13"
        },
        {
          "value": "title_14",
          "label": "Design 14"
        }
      ],
      "label": "Design Title:"
    }
  ],
  "blocks": [
    {
      "name": "Collection",
      "type": "text",
      "settings": [
        {
          "type": "image_picker",
          "id": "bg_img",
          "label": "Collection img"
        },
        {
          "type": "text",
          "id": "collection_text",
          "label": "Collection text"
        },
        {
          "type": "url",
          "id": "collection_url",
          "label": "Collection url"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Hip hop collection",
      "settings": {}
    }
  ]
}
{% endschema %}

<script>
var swiper = new Swiper('.hipslider', {
  slidesPerView: 4,
  freeMode: true,
  slidesPerGroup: 1,
  loop: true,       
  autoplay: {
    delay: 3000,
    disableOnInteraction: false,
  },
  spaceBetween: 30,
  navigation: {
    nextEl: '.swiper-button-next',
    prevEl: '.swiper-button-prev',
  },
  breakpoints: {
    0: {
      slidesPerView: 3.1,
      spaceBetween: 10,
    },
    577: {
      slidesPerView: 3,
      spaceBetween: 10,
    },
    768: {
      slidesPerView: 3,
      spaceBetween: 20,
    },
    1020: {
      slidesPerView: 4,
      spaceBetween: 30,
    },
    1100: {
      slidesPerView: 5,
      spaceBetween: 30,
    }
  },
});
</script>
